# TMDb API
TMDB_API_KEY=paste_your_tmdb_api_key_here

# Airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_PIP_ADDITIONAL_REQUIREMENTS=dbt-postgres pandas pyarrow requests boto3 httpx

# Postgres (Warehouse & Airflow Metadata)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tmdb_warehouse
POSTGRES_PORT=5432

# MinIO (Data Lake)
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_DEFAULT_BUCKETS=movies-data-lake

# Metabase
METABASE_PORT=3000
METABASE_ADMIN_EMAIL=admin@example.com
METABASE_ADMIN_PASSWORD=metabase_password123
METABASE_ADMIN_NAME=Admin
METABASE_SETUP_TOKEN=my-secure-setup-token-123
